<!DOCTYPE html>

<script type="text/javascript">
var node;
$( document ).ready(function() {
    console.log( "ready!" );
    var addr = document.getElementById('server_addr').innerHTML
    var edgeNode = document.getElementById('edgeNode_id').innerHTML
    node = CreateWebNode("ws://"+addr+"/node");
    node.messageReceivedCallback = NodeReceiveCallback;
    node.connectedCallback = function() { 
    	listImages(edgeNode);  
    	listContainers(edgeNode); 
    };
});

function listImages(edgeNode) 
{
    var args = new DockerListArgs();
    args.ShowAll = true;
    node.CallRPCFunction("EdgeNodeHandler.ListImages", args, edgeNode); 
}

function listContainers(edgeNode){
	var args = new DockerListArgs();
    args.ShowAll = true;
    node.CallRPCFunction("EdgeNodeHandler.ListContainers", args, edgeNode); 
}

</script>

<ul class="nav nav-pills">
  <li>
    <a href="/" >Home</a>
  </li>
  <li > 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/images">Images</a>
  </li>
  <li class="active">
  	<a href="/manage">Manage</a>
  </li>
</ul>


<html>
	
	<!-- Used in javascripts to manage edge-node --!>
  	<p id="edgeNode_id" class="hidden"><%= node_id %></p>
  	<p id="server_addr" class="hidden"><%= serv_addr %></p>

	<h1>Super-node: <%= serv_addr %> </h1>
	<h1>Edge-node:  <%= node_id %></h1>
  	<h3 id="avail_img_head"> Images available: 0</h3>
  	<button class="btn btn-primary" type="button" onclick="listImages('<%= node_id %>')">Refresh images</button>
  	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#images_div"> Show table</button>
	<div id="images_div" class="collapse">
	     <table class="table table-striped">
	     	<thead>
	     		<tr>
	     			<th>#</th>
	     			<th>ID</th>
	     			<th>Repo</th>
	     			<th>Created</th>
	     			<th>Size in MB</th>
	     			<th></th>
	     		</tr>
	     	</thead>
	     	<tbody id="images_body">
	     	</tbody>
	     </table>
     </div>
     <br/>
     <h3 id="avail_cont_head"> Containers available: 0 </h3>
     <button class="btn btn-primary" type="button" onclick="listContainers('<%= node_id %>')">Refresh containers</button>
     <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#containers_div"> Show table</button>
     <div id="containers_div" class="collapse">
	     <table class="table table-striped">
	     	<thead>
	     		<tr>
	     			<th>#</th>
	     			<th>ID</th>
	     			<th>Image</th>
	     			<th>Created</th>
	     			<th>Status</th>
	     			<th></th>
	     		</tr>
	     	</thead>
	     	<tbody id="containers_body">
	     	</tbody>
	     </table>
     </div>
     
</html>






