<!DOCTYPE html>

<ul class="nav nav-pills">
  <li>
    <a href="/" >Home</a>
  </li>
  <li class="active"> 
  	<a href="/servers">Servers</a>
  </li>
  <li>
  	<a href="/images">Images</a>
  </li>
  <li>
  	<a href="/manage">Manage</a>
  </li>
</ul>

<html>	                	 
    <body>
        <section>
            <article>  
                          
			<h1><%= title %> management page </h1>
			<p>Servers</p>

			<body>
			<table class="table table-hover table-bordered" id="serverlist">
			<tr>
			  <th><center>Name</center></th>
			  <th><center>IP</center></th>
			  <th><center>Status</center></th>
			  <th><center>Action</center></th>
			</tr>			
			
			<% var num = 1; %>
			<% for (var server in servers) { %>
			<% var serverIp = servers[server]; %>
			<% var serverIpId = server + "ip"; %>
			<% var serverStatusId = server + "status"; %>
			<% var serverButtonId = server + "button"; %>
			<tr>
				<td>Core server <%= num %></td>
				<td id='<%= serverIpId %>'><%= serverIp %></td>
				<td id='<%= serverStatusId %>'>Online</td>
				<td>
					<input class="btn" type="button" id='<%= serverButtonId %>' onclick="RedirectToSupernode('<%= serverIp %>')" value="Manage">
				</td>
			</tr>
			<script>
				CheckOnline('<%= serverIpId %>', '<%= serverStatusId %>', '<%= serverButtonId %>');
			</script>
			<% num++; %>
			<% }; %>
			
			</table>
			</body>               

            </article>
        </section>
    </body>
</html>






